nav {
    background-color: rgb(174, 196, 232);
    text-align: right;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

nav li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgb(59, 106, 224);
}

nav li a:hover {
    background-color: rgb(190, 174, 232);
    color: rgb(133, 59, 224);
}